@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'MedievalSharp', cursive;
    background-color: #E5E7EB;
    }

    /* Header and Navbar */

    header,footer {
       background-color: hsl(215, 28%, 17%);
       padding: 16px;
    }
    
/* navigation and links */
.nav_container {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    padding:0px;
    margin-right: 5%;
    }

ul {
list-style-type: none;
display: inline-flex;
margin: 0;
padding: 1px;
gap: 16px;
}

a {
   font-size: 18px;
   color: #E5E7EB; 
   text-decoration: none;
   font-family: 'MedievalSharp', cursive;
}

a:hover {
    background-color: #333434;

}

    /*logo */
    
    .logo{
        color: #f9faf8;  
        padding: 5 px 0px 0px 5px;
    }
    
    /*header info and image */

.head-info {
    display: flex;
    flex-direction: row;
    width: 100%;
 justify-content: flex-start;
  align-items: center;
}
.header-para-container {
color: white;
flex-wrap: wrap;
max-width: 400px;
margin: 50px 0 100px 200px;
}

p.header-para-container{
 margin-bottom: 30px;
 }

.header-img {
border: 2px groove #EEE;
margin: 10px;
float: right;
max-width: 500px;
}
.ship-img {
    border: none;
    width: 350px;
    height: 300px;
    padding: 15px;
    margin: 2px;
 }
    
    /* main content */

    /* images */


/* quotes and quote container*/
.quote-container{
    background-color: rgb(230, 230, 230);
    width: 4google fonts on a webpage
    00px;
    border: 2px solid grey ;
    border-radius: 25px;
}
.quotes {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 30px;
    font-style: italic;
    color: #1f2937;
    padding: 16px;
    text-align: center;
    text-shadow: 2px 1px #b6d497;
    flex-wrap: wrap;
}


    